section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section__text__p1 {
  text-align: center;
  color: var(--white);
}

.title {
  color: var(--white);
  font-size: 3rem;
  text-align: center;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: 0.1rem solid var(--light-black);
  border-color: var(--light-gray);
  background: var(--white);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  background-color: var(--white);
}

.contact-info-container p {
  font-size: larger;
}

.contact-info-container p, .contact-info-container p a{
  background-color: var(--white);
  color: var(--light-black);
}

.contact-icon {
  cursor: default;
  background-color: var(--white);
}

.email-icon {
  height: 2.5rem;
  background-color: var(--white);
}
