nav,
.nav-links {
  display: flex;
}

nav {
  align-items: center;
  justify-content: space-around;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  -moz-text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  text-decoration-color: rgb(181, 181, 181);
  -moz-text-decoration-color: rgb(181, 181, 181);
}

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
