section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section__text__p1 {
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: var(--white);
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  background-color: var(--dark-white);
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background-color: var(--dark-white);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: 0.1rem solid var(--light-black);
  border-color: var(--light-gray);;
  text-align: center;
}

.experience-sub-title {
  background-color: var(--dark-white);
  color: var(--light-black);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--dark-white);
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: 0.1rem solid var(--light-black);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--light-black);
  color: var(--white);
}

.btn-color-1:hover {
  background: var(--black);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: 0.1rem solid var(--white);
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-containers {
  display: flex;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

#projects {
  position: relative;
}

.color-container {
  border-color: var(--light-gray);
  background: var(--dark-white);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--black);
}

.project-btn {
  color: var(--black);
  border-color: var(--light-gray);
}
