<nav id="hamburger-nav">
  <div class="logo">Oliver Márquez</div>
  <div class="hamburger-menu">
    <div class="hamburger-icon" (click)='toggleMenu()' [class.open]="isOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-links" [class.open]="isOpen">
      <li><a href="#about" (click)='toggleMenu()' [class.open]="isOpen">{{ "menu.aboutMe" | translate}}</a></li>
      <li><a href="#experience" (click)='toggleMenu()' [class.open]="isOpen">{{ "menu.experience" | translate}}</a></li>
      <li><a href="#projects" (click)='toggleMenu()' [class.open]="isOpen">{{ "menu.projects" | translate}}</a></li>
      <li><a href="#contact" (click)='toggleMenu()' [class.open]="isOpen">{{ "menu.contact" | translate}}</a></li>
    </div>
  </div>
</nav>
