<section id="experience">
  <p class="section__text__p1">{{ "experience.exploreMy" | translate }}</p>
  <h1 class="title">{{ "menu.experience" | translate }}</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container">
        <h2 class="experience-sub-title">
          {{ "experience.frontendDev" | translate }}
        </h2>
        <div class="article-container">
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>HTML</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>CSS</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>JavaScript</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>TypeScript</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>React</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>Angular</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">
          {{ "experience.backendDev" | translate }}
        </h2>
        <div class="article-container">
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>Node JS</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>Express JS</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>PostgreSQL</h3>
              <p>{{ "experience.basic" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>MongoDB</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>Nest JS</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
          <article>
            <img
              src="../../../assets/imgs/checkmark.png"
              alt="experience icon"
              class="icon"
            />
            <div>
              <h3>GIT</h3>
              <p>{{ "experience.intermediate" | translate }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <img
    src="../../../assets/imgs/arrow.png"
    alt="Arrow icon"
    class="icon arrow"
    (click)="moveInside('./#projects')"
  />
</section>
