section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section__text__p1 {
  text-align: center;
  color: var(--white);
}

.title {
  color: var(--white);
  font-size: 3rem;
  text-align: center;
}

.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--dark-white);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: 0.1rem solid var(--light-black);
  border-color: var(--light-gray);
  text-align: center;
}

#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--light-black);
  background-color: var(--dark-white);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

.article-container,
.article-container article,
.article-container article img,
.article-container article h3,
.article-container article p {
  background-color: var(--dark-white);
}

article .icon {
  cursor: default;
}
